body {
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
  }

.logo {
  height: 7em;
  
  margin-right: 35%;
}
.welcome {
  color: white;
  font-family: 'EB Garamond', serif;
  
  display: flex;
  flex-direction: row;
}
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 nav {
    background-color: #9F1D2E;
    width: 100vw;
    height: 8em;
    color: white;
    display: block;
   padding: auto;
  }
